План
- Разные представления данных
    - bag of letter to ascii
    - bag of letter (верхний и нижний регистр)
    - bag of letter (нижний регистр только)
- Построить разные модели

In [1]:
PATH_TO_DATA="../../Inductor/data/50k_real_fullName/"

import pandas as pd
import os.path
import numpy as np
import pickle

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier

from sklearn.model_selection import cross_val_score,KFold,GridSearchCV,RandomizedSearchCV
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

from tqdm import tqdm_notebook,tqdm

from hyperopt import hp
from hyperopt import fmin, tpe, STATUS_OK, Trials

/Users/roman/anaconda/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

### Погдотовка DataSet-a

In [5]:
# Десериализация
with open(PATH_TO_DATA+"fullName_true.pickle","rb") as f:
    data_train=pickle.load(f)
    
with open(PATH_TO_DATA+"fullName_changed.pickle","rb") as f:
    data_test=pickle.load(f)

In [6]:
# DataFrame полный
table_train=[ j.split(" ") for j in data_train]
table_train=pd.DataFrame(table_train,columns=["Фамилия","Имя","Отчество"])

table_train.head(2)

    Фамилия    Имя       Отчество
0  Костенко  Денис  Александрович
1   Блинова  Алена      Алексеена

In [7]:
# Формирование датасета
SurnameDf=pd.DataFrame(table_train["Фамилия"].values,columns=["word"])
NameDf=pd.DataFrame(table_train["Имя"].values,columns=["word"])
Patronymic=pd.DataFrame(table_train["Отчество"].values,columns=["word"])

SurnameDf["class"]=1
NameDf["class"]=2
Patronymic["class"]=3

data=pd.concat([SurnameDf,NameDf,Patronymic])

data["word"]=data["word"].astype(str)
data["lenth"]=data["word"].apply(lambda x: len(x)) #Длина слова
# data["word"]=data["word"].apply(lambda x: x.lower()) #Нижний регистр
data=data[["word","lenth","class"]]

data.head(2)

       word  lenth  class
0  Костенко      8      1
1   Блинова      7      1

## Разные представления данных

### Bag of letter to ascii

In [8]:
def convert_to_ascii(text):
    return " ".join(str(ord(char)) for char in text)

def convert_to_ascii2(text):
    return [ord(i) for i in text]

In [9]:
def words_to_dataFame(column,max_lenth_word):
    letter=['letter%s' % str(i) for i in range(1,max_lenth_word+1)]
    
    names_arr=[convert_to_ascii2(word) for word in column.values ]
        
    df=[i+(max_lenth_word-len(i))*[0] for i in names_arr]
    df=pd.DataFrame(df,columns=letter)
    
    return df

In [10]:
data["ascii_word"]=data["word"].apply(lambda x:convert_to_ascii(x) ) #Слово переведенное в ascii
data.head(2)

       word  lenth  class                               ascii_word
0  Костенко      8      1  1050 1086 1089 1090 1077 1085 1082 1086
1   Блинова      7      1       1041 1083 1080 1085 1086 1074 1072

In [11]:
m=np.max(data['lenth'].values)
letters=words_to_dataFame(data["word"],m)

In [12]:
df_ascii=pd.concat([letters[letters.columns],data[['lenth','class']]],axis=1, join_axes=[data.index])

data.drop("ascii_word",axis=1,inplace=True)
df_ascii.head(2)

,letter1,letter2,letter3,letter4,letter5,letter6,letter7,letter8,letter9,letter10,...,letter16,letter17,letter18,letter19,letter20,letter21,letter22,letter23,lenth,class
0,1050,1086,1089,1090,1077,1085,1082,1086,0,0,...,0,0,0,0,0,0,0,0,8,1
1,1041,1083,1080,1085,1086,1074,1072,0,0,0,...,0,0,0,0,0,0,0,0,7,1

### Bag of letter (верхний и нижний регистр)

In [20]:
def word_to_alphabet(column):
    alphabet=['а','б','в','г','д','е','ё','ж','з','и','й','к','л','м','н','о',
          'п','р','с','т','у','ф','х','ц','ч','ш','щ','ъ','ы','ь','э','ю','я',"e","t","c"] # исключит слово с .
    alphabet=alphabet+[i.upper() for i in alphabet]+["-","."]
    
    alphabet2={i:0 for i in alphabet}
    
    array=[]
    
    for k,word in enumerate(tqdm_notebook(column.values)):
        alphabet3=alphabet2.copy()
        for i in word:
            alphabet3[i]+=1
        array.append(alphabet3.values())
        
    df=pd.DataFrame(array,columns=alphabet)
        
    return df

In [21]:
df_BOLetters_both_register=word_to_alphabet(data["word"])

In [22]:
df_BOLetters_both_register["lenth"]=data["lenth"].values
df_BOLetters_both_register["class"]=data["class"].values
df_BOLetters_both_register.head(2)

   а  б  в  г  д  е  ё  ж  з  и  ...    Э  Ю  Я  E  T  C  -  .  lenth  class
0  0  0  0  0  0  1  0  0  0  0  ...    0  0  0  0  0  0  0  0      8      1
1  1  0  1  0  0  0  0  0  0  1  ...    0  0  0  0  0  0  0  0      7      1

[2 rows x 76 columns]

### Bag of letter (нижний регистр только)

In [23]:
def word_to_alphabet_lower(column):
    alphabet=['а','б','в','г','д','е','ё','ж','з','и','й','к','л','м','н','о',
          'п','р','с','т','у','ф','х','ц','ч','ш','щ','ъ','ы','ь','э','ю','я',"e","t","c","-","."] # исключит слово с .
    
    alphabet2={i:0 for i in alphabet}
    
    array=[]
    
    for k,word in enumerate(tqdm_notebook(column.values)):
        alphabet3=alphabet2.copy()
        for i in word:
            alphabet3[i]+=1
        array.append(alphabet3.values())
        
    df=pd.DataFrame(array,columns=alphabet)
        
    return df

In [24]:
df_BOLetters_lower=word_to_alphabet_lower((data["word"].apply(lambda x:x.lower())))

In [25]:
df_BOLetters_lower["lenth"]=data["lenth"].values
df_BOLetters_lower["class"]=data["class"].values
df_BOLetters_lower.head(2)

   а  б  в  г  д  е  ё  ж  з  и  ...    э  ю  я  e  t  c  -  .  lenth  class
0  0  0  0  0  0  1  0  0  0  0  ...    0  0  0  0  0  0  0  0      8      1
1  1  1  1  0  0  0  0  0  0  1  ...    0  0  0  0  0  0  0  0      7      1

[2 rows x 40 columns]

## Разбиение выборки

In [26]:
#ascii
X_ascii=df_ascii.drop("class",axis=1)
y_ascii=df_ascii["class"]

X_ascii_train,X_ascii_test,y_ascii_train,y_ascii_test=train_test_split(X_ascii,y_ascii,test_size=0.3,random_state=17,shuffle=True)


#BOW_both
X_both=df_BOLetters_both_register.drop("class",axis=1)
y_both=df_BOLetters_both_register["class"]

X_both_train,X_both_test,y_both_train,y_both_test=train_test_split(X_both,y_both,test_size=0.3,random_state=17,shuffle=True)



#BOL_lower_only
X_lower=df_BOLetters_lower.drop("class",axis=1)
y_lower=df_BOLetters_lower["class"]

X_lower_train,X_lower_test,y_lower_train,y_lower_test=train_test_split(X_lower,y_lower,test_size=0.3,random_state=17,shuffle=True)

## Построение моделей

In [27]:
rf=RandomForestClassifier(random_state=17,n_jobs=-1)
lr=LogisticRegression(random_state=17)
xgb=XGBClassifier(seed=17)

In [42]:
#Выбор моделией для дальнейшего учучшения
train_lst=[[X_ascii_train,y_ascii_train],[X_both_train,y_both_train],[X_lower_train,y_lower_train]]
test_lst=[[X_ascii_test,y_ascii_test],[X_both_test,y_both_test],[X_lower_test,y_lower_test]]

model_lst=[rf,lr,xgb]

for i in tqdm_notebook(range(3)):
    rf=model_lst[0].fit(train_lst[i][0],train_lst[i][1])
    lr=model_lst[1].fit(train_lst[i][0],train_lst[i][1])
    xgb=model_lst[2].fit(train_lst[i][0],train_lst[i][1])
    
    print("rf {0} accuracy: {1}".format(i,accuracy_score(test_lst[i][1],rf.predict(test_lst[i][0]))))
    print("lr {0} accuracy: {1}".format(i,accuracy_score(test_lst[i][1],lr.predict(test_lst[i][0]))))
    print("xgb {0} accuracy: {1}\n".format(i,accuracy_score(test_lst[i][1],xgb.predict(test_lst[i][0]))))

rf 0 accuracy: 0.8060938430809125
lr 0 accuracy: 0.63901251007464
xgb 0 accuracy: 0.8369835651960612

rf 1 accuracy: 0.9777306654518695
lr 1 accuracy: 0.8961698847110768
xgb 1 accuracy: 0.9260784245015243

rf 2 accuracy: 0.9757507796895258
lr 2 accuracy: 0.860602025440656
xgb 2 accuracy: 0.908697480463959

Так как ***Линейная регрессия*** показала себя хуже всего ее и ***отбросим***

Также обучасть будем на наборе ***X_both*** так как он показал себе лучше всего (фичи-алфавит в верхнем и нижмен регистре)

## EDA

In [328]:
df_BOLetters_both_register.corr()["class"].sort_values(ascending=False)

class    1.000000e+00
lenth    4.168010e-01
ч        3.889743e-01
В        2.647937e-01
и        2.548134e-01
н        2.359434e-01
в        2.299835e-01
л        2.191561e-01
е        2.166014e-01
А        1.837265e-01
д        1.739349e-01
ь        1.719180e-01
р        1.476927e-01
а        1.144860e-01
Н        9.079865e-02
Ю        8.898949e-02
г        8.805384e-02
с        7.201229e-02
И        5.830901e-02
т        3.297823e-02
м        1.878721e-02
Э        1.197289e-02
-        7.970036e-03
э        4.524946e-03
Е        3.895047e-03
c        2.807955e-03
.        2.807955e-03
Ы        1.621182e-03
О        2.151481e-04
T       -5.730590e-20
             ...
х       -5.007269e-02
У       -5.147758e-02
Д       -5.544444e-02
Л       -5.771888e-02
Ж       -5.809382e-02
Х       -6.344421e-02
к       -6.355785e-02
ж       -6.524327e-02
щ       -7.210795e-02
ю       -7.821513e-02
З       -8.435050e-02
Т       -8.496227e-02
П       -8.508872e-02
я       -8.555665e-02
Ч       -9.821556e-02
з       -1.170375e-01
Ш       -1.230331e-01
б       -1.253138e-01
ы       -1.353656e-01
Б       -1.357325e-01
п       -1.451151e-01
ц       -1.481186e-01
ш       -1.650092e-01
К       -2.096771e-01
у       -2.297923e-01
t                 NaN
Ё                 NaN
Ъ                 NaN
E                 NaN
C                 NaN
Name: class, Length: 76, dtype: float64

...

---------------------

In [29]:
#Разбиение выборки
X=df_BOLetters_both_register.drop("class",axis=1)
y=df_BOLetters_both_register["class"]

X_train,X_test,y_train,y_test=train_test_split(X_both,y_both,test_size=0.3,random_state=17,shuffle=True)

### Тюнинг randomForest

In [ ]:
Модель улучшалась на виртуальной машине

In [41]:
with open("/Users/roman/Inductor/Roman/rf_model.pkl","rb") as f:
    rf=pickle.load(f)

/Users/roman/anaconda/lib/python3.6/site-packages/sklearn/base.py:312: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from version 0.19.1 when using version 0.19.0. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)
/Users/roman/anaconda/lib/python3.6/site-packages/sklearn/base.py:312: UserWarning: Trying to unpickle estimator RandomForestClassifier from version 0.19.1 when using version 0.19.0. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [35]:
model

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='sqrt', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=4,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=-1,
            oob_score=False, random_state=17, verbose=0, warm_start=False)

### Тюнинг XGB

Модель улучшалась на виртуальной машине

In [2]:
with open("/Users/roman/Inductor/Roman/xgb_model.pkl","rb") as f:
    xgb=pickle.load(f)

In [3]:
xgb

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=0.4,
       gamma=0.01, learning_rate=0.5, max_delta_step=0, max_depth=14,
       min_child_weight=1, missing=nan, n_estimators=1000, nthread=-1,
       objective='multi:softprob', reg_alpha=0.01, reg_lambda=0.01,
       scale_pos_weight=1, seed=17, silent=True, subsample=1)

### Ансамбль из XGB и rf