Pipeline
<ul><li>aka unicode</li>
    <li>Демин</li>
    <li>1feature-1word</li>
    <li>catboost</li>
    </ul>

In [119]:
dataPath="../../Inductor/data/50k real fullName/"

import pandas as pd
import os.path
import numpy as np
import pickle

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [20]:
# Десериализация
with open(dataPath+"fullName_true.pickle","rb") as f:
    data_train=pickle.load(f)
    
with open(dataPath+"fullName_changed.pickle","rb") as f:
    data_test=pickle.load(f)

In [ ]:
# DataFrame полный
table_train=pd.DataFrame(columns=["Фамилия","Имя","Отчество"])
for i,j in enumerate(data_train):
    j=j.split(" ")
    table_train.loc[i]=[j[0],j[1],j[2]]

In [236]:
# DataFrame часть
table_train_part=pd.DataFrame(columns=["Фамилия","Имя","Отчество"])
for i,j in enumerate(data_train[:1000]):
    j=j.split(" ")
    table_train_part.loc[i]=[j[0],j[1],j[2]]

In [237]:
table_train_part.head(2)

    Фамилия    Имя       Отчество
0  Костенко  Денис  Александрович
1   Блинова  Алена      Алексеена

In [250]:
# Формирование датасета
SurnameDf=pd.DataFrame(table_train_part["Фамилия"].values,columns=["word"])
NameDf=pd.DataFrame(table_train_part["Имя"].values,columns=["word"])
Patronymic=pd.DataFrame(table_train_part["Отчество"].values,columns=["word"])

SurnameDf["class"]=1
NameDf["class"]=2
Patronymic["class"]=3

data=pd.concat([SurnameDf,NameDf,Patronymic])

data["word"]=data["word"].astype(str)
data["word"]=data["word"].apply(lambda x: x.lower()) #Нижний регистр
data["lenth"]=data["word"].apply(lambda x: len(x)) #Длина слова

In [251]:
data.head(2)

       word  class  lenth
0  костенко      1      8
1   блинова      1      7

## Кодирование юникодом

In [ ]:
def convert_to_ascii(text):
    return " ".join(str(ord(char)) for char in text)

In [66]:
def convert_to_ascii2(text):
    return [ord(i) for i in text]

In [67]:
def words_to_dataFame(column,max_lenth_word):
    letter=['letter%s' % str(i) for i in range(1,max_lenth_word+1)]
    
    names_arr=[]
    for word in column.values:
        names_arr.append(convert_to_ascii2(word))
        
    df=pd.DataFrame(columns=letter)
    j=0
    for i in names_arr:
        df.loc[j]=i+(max_lenth_word-len(i))*[0]
        j+=1
    return df

In [57]:
data["ascii_word"]=data["word"].apply(lambda x:convert_to_ascii(x) ) #Слово переведенное в ascii

In [82]:
data.head(2)

       word  class  lenth                               ascii_word
0  костенко      1      8  1082 1086 1089 1090 1077 1085 1082 1086
1   блинова      1      7       1073 1083 1080 1085 1086 1074 1072

In [68]:
m=np.max(data['lenth'].values)
letters=words_to_dataFame(data["word"],m)

In [73]:
letters.head(2)

,letter1,letter2,letter3,letter4,letter5,letter6,letter7,letter8,letter9,letter10,letter11,letter12,letter13,letter14,letter15
0,1082,1086,1089,1090,1077,1085,1082,1086,0,0,0,0,0,0,0
1,1073,1083,1080,1085,1086,1074,1072,0,0,0,0,0,0,0,0

In [74]:
df=pd.concat([letters[letters.columns],data[['lenth','class']]],axis=1, join_axes=[data.index])

In [105]:
df.head(2)

,letter1,letter2,letter3,letter4,letter5,letter6,letter7,letter8,letter9,letter10,letter11,letter12,letter13,letter14,letter15,lenth,class
340,1089,1091,1074,1086,1088,1086,1074,1072,0,0,0,0,0,0,0,4,2
259,1086,1081,1085,1077,1094,0,0,0,0,0,0,0,0,0,0,5,1

In [90]:
df=df.sample(frac=1) #Перемешиваю выборку

In [123]:
X,y=df.iloc[:,:-1],df["class"]
X.shape

(3000, 16)

In [124]:
X_train=X[:2000]
X_test=X[2000:]

y_train=y[:2000]
y_test=y[2000:]

In [125]:
# Качество модели
rf=RandomForestClassifier(random_state=42)
rf.fit(X_train,y_train)
predict=rf.predict(X_test)

accuracy_score(y_test,predict)

0.73599999999999999

In [130]:
df.corr() #походу остальные признаки вообще не учитываются

          lenth     class
lenth  1.000000  0.438068
class  0.438068  1.000000

## bag of letters

In [252]:
def word_to_alphabet(column):
    alphabet=['а','б','в','г','д','е','ё','ж','з','и','й','к','л','м','н','о',
          'п','р','с','т','у','ф','х','ц','ч','ш','щ','ъ','ы','ь','э','ю','я',"-","."] # исключит слово с .
    
    alphabet2={}
    for i in alphabet:
        alphabet2[i]=0
            
    df=pd.DataFrame(columns=alphabet)
    
    for k,i in enumerate(column.values):
        alphabet3=alphabet2
        for j in i:
            alphabet3[j]+=1
            
        df.loc[k]=alphabet3  
        
    return df

In [255]:
data.head()

       word  class  lenth
0  костенко      1      8
1   блинова      1      7
2   палехин      1      7
3  задерина      1      8
4  тефанова      1      8

In [259]:
data2=data[["word","lenth","class"]]

In [260]:
data2.head(2)

       word  lenth  class
0  костенко      8      1
1   блинова      7      1

In [247]:
df2=word_to_alphabet(data2["word"])
df2.head()

   а  б  в  г  д  е  ё  ж  з  и ...  ш  щ  ъ  ы  ь  э  ю  я  -  .
0  0  0  0  0  0  1  0  0  0  0 ...  0  0  0  0  0  0  0  0  0  0
1  1  1  1  0  0  1  0  0  0  1 ...  0  0  0  0  0  0  0  0  0  0
2  2  1  1  0  0  2  0  0  0  2 ...  0  0  0  0  0  0  0  0  0  0
3  4  1  1  0  1  3  0  0  1  3 ...  0  0  0  0  0  0  0  0  0  0
4  6  1  2  0  1  4  0  0  1  3 ...  0  0  0  0  0  0  0  0  0  0

[5 rows x 35 columns]

In [261]:
df2["lenth"]=data2["lenth"].values
df2["word"]=data2["word"].values
df2["class"]=data2["class"].values

In [262]:
df2.head(2)

,а,б,в,г,д,е,ё,ж,з,и,...,ы,ь,э,ю,я,-,.,lenth,word,class
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,8,костенко,1
1,1,1,1,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,7,блинова,1

In [263]:
df2=df2.sample(frac=1) #Перемешиваю выборку

In [264]:
X,y=df2.iloc[:,:-2],df2["class"]
X.shape

(30000, 36)

In [265]:
X_train=X[:20000]
X_test=X[20000:]

y_train=y[:20000]
y_test=y[20000:]

In [266]:
# Качество модели
rf=RandomForestClassifier(random_state=42)
rf.fit(X_train,y_train)
predict=rf.predict(X_test)

accuracy_score(y_test,predict)

0.99980000000000002

In [267]:
df2.corr() #походу остальные признаки вообще не учитываются

          lenth     class
lenth  1.000000  0.418869
class  0.418869  1.000000