# Формирование обучающей и тестофой выборки ФИО

In [2]:
import urllib
from bs4 import BeautifulSoup
import pickle
from collections import Counter
from collections import namedtuple
import re
import xlwings as xw
import pandas as pd
import numpy as np
import random

In [3]:
url_fullName="https://names-generator.ru"

In [4]:
url_fullName_q=urllib.request.quote(url_fullName,"/:")

In [5]:
import ssl
context = ssl._create_unverified_context()

In [6]:
full_name_bs=BeautifulSoup(urllib.request.urlopen(url_fullName_q,context=context),"lxml")
[i.text for i in full_name_bs.find_all("td",{"class":"left"})[0].find_all("li")]

['Анисимов Иван Вадимович',
 'Хохлов Еремей Андреевич',
 'Никитин Федосей Ильяович',
 'Пономарёв Георгий Мэлорович',
 'Воробьёв Всеволод Федотович',
 'Маслов Вадим Александрович',
 'Королёв Фрол Альвианович',
 'Козлов Евгений Романович',
 'Терентьев Демьян Денисович',
 'Кириллов Кондрат Евсеевич']

In [7]:
# Получаю только 10 значений Вопрос в том как нажить на кнопку много раз или изменить параметр value с 10 на 1000

# Вариант 2

In [8]:
#Из файла который сделал в ручную считываю ФИО и записываю все их в список
data=pd.read_excel("1000 ФИО.xlsx")

In [9]:
data.head(2)

   Фамилия        Имя   Отчество
0  Уварова   Виктория  Еремеевна
1    Белов  Бронислав   Якунович

In [10]:
splitter=800
train_df=data[:splitter]
test_df=data[splitter:]

In [11]:
test_df.head(10)

        Фамилия         Имя      Отчество
800   Стрелкова     Глафира      Глебовна
801      Лыткин  Константин    Николаевич
802   Субботина      Оксана    Георгьевна
803      Бурова      Милица    Евгеньевна
804     Сорокин       Мэлор    Арсеньевич
805       Зуева      Лариса  Лаврентьевна
806     Кузьмин       Авдей     Матвеевич
807  Дементьева        Юлия    Леонидовна
808     Сорокин      Демьян      Егорович
809      Попова   Екатерина    Михаиловна

In [12]:
test_changed=[i.tolist() for i in test_df.values]
for i in range(0,len(test_changed)):
    random.shuffle(test_changed[i])

In [13]:
test_changed_df=pd.DataFrame(test_changed,columns=["Фамилия","Имя","Отчество"],index=range(800,1000))

In [14]:
test_changed_df.head()

        Фамилия         Имя    Отчество
800   Стрелкова     Глафира    Глебовна
801  Константин      Лыткин  Николаевич
802   Субботина  Георгьевна      Оксана
803  Евгеньевна      Милица      Бурова
804  Арсеньевич       Мэлор     Сорокин

In [40]:
train=[]
for i in train_df.values:
    train.append(("%s %s %s"%(i[0],i[1],i[2])))
    
test_true=[]
for i in test_df.values:
    test_true.append(("%s %s %s"%(i[0],i[1],i[2])))
    
test_changed=[]
for i in test_changed_df.values:
    test_changed.append(("%s %s %s"%(i[0],i[1],i[2])))

In [49]:
test_true[1],test_changed[1] #Демонстрация изменений (0-я запись не изменилась)

('Лыткин Константин Николаевич', 'Константин Лыткин Николаевич')

In [50]:
#Сериализую
with open('train.pickle', 'wb') as f:
    pickle.dump(train, f)

In [51]:
#Сериализую
with open('test_true.pickle', 'wb') as f:
    pickle.dump(test_true, f)

In [52]:
#Сериализую
with open('test_changed.pickle', 'wb') as f:
    pickle.dump(test_changed, f)

In [72]:
#Для десериализации
with open("<Путь до файла>.pickle","rb") as f:
    tmp=pickle.load(f)