In [1]:
import pandas as pd
import pickle

In [2]:
data=pd.read_csv("russian_names.csv",sep=";")
# daxta["Rate"]=data["Rate"].astype("int")
data.dropna(inplace=True)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51529 entries, 0 to 51528
Data columns (total 6 columns):
ID                  51529 non-null int64
Name                51529 non-null object
Sex                 51529 non-null object
PeoplesCount        51529 non-null int64
WhenPeoplesCount    51529 non-null object
Source              51529 non-null object
dtypes: int64(2), object(4)
memory usage: 2.8+ MB

In [4]:
data.drop(["ID","WhenPeoplesCount","Source"],axis=1,inplace=True)

In [5]:
russian_names={}
for i in data.values:
    if i[2]!=0:
        russian_names[i[0]]=[i[1],int(i[2])]

In [6]:
#Сериализация
with open("russian_names.pickle","wb") as f:
    pickle.dump(russian_names,f)

In [13]:
data2=pd.read_csv("russian_surnames.csv",sep=";",index_col="ID")
data2.head()

      Surname  Sex  PeoplesCount     WhenPeoplesCount      Source
ID
1    Аалферов  NaN             0  30.06.2016 17:25:47  myData.biz
2   Аалферова  NaN             1  21.05.2016 14:21:30  myData.biz
3        Ааль  NaN            95  21.05.2016 14:21:39  myData.biz
4       Ааман  NaN            24  21.05.2016 14:21:49  myData.biz
5      Аамана  NaN             0   20.06.2016 0:50:51  myData.biz

In [15]:
data2["Sex"].unique()

array([ nan])